.field_container {
  width: 100%;
}
.field_container .error_field {
  text-align: start;
  color: #E9513E;
  font-weight: 500;
  font-style: italic;
  margin-left: 4%;
}
.field_container input {
  width: 92%;
  margin-top: 1.5em;
}
.form_input {
  height: 35px;
  border-radius: 2rem;
  border: 0;
  box-shadow: inset 2px 2px 0.5rem rgba(187, 187, 187, 0.8), inset -2px -2px 0.5rem rgba(255, 255, 255, 0.8);
  background: #F6F5FA;
  color: #7A7E85;
  font-size: 20px;
  padding: 10px 4%;
  font-weight: 600;
  border: 0.1rem solid rgba(1, 1, 1, 0.1);
}
.form_input:focus {
  outline: 0;
}
.form_input:-moz-placeholder {
  color: #CBD1DA;
}
.form_input::-webkit-input-placeholder {
  color: #CBD1DA;
}
.form_input::placeholder {
  color: #CBD1DA;
}
