.my_org_container {
  width: 80%;
  margin: auto;
  min-height: 88vh;
  padding-top: 12vh;
  font-family: 'Poppins', sans-serif;
}
.my_org_container h2 {
  text-align: start;
  margin: 1em 0 2em 0;
  color: #404040;
}
.my_org_container .my_org_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.my_org_container .my_org_cards .org_card_container {
  width: 49%;
}
